node_modules/
.expo/
dist/
build/
coverage/
ios/
android/
*.log
e2e/artifacts/
data/odpt/cache/
data/odpt/odpt_api.htm
data/odpt/odpt_api_files/

# environment variables
.env

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
