---
import Layout from "../layouts/Layout.astro";
import { Map } from "../components/Map";
import { PlacePicker } from "../components/PlacePicker";
import { SidebarProvider, SidebarTrigger } from "@/components/ui/sidebar";
import { QuestionSidebar } from "@/components/QuestionSidebar";
import { Options } from "@/components/Options";
---

<Layout className="bg-jetlag !p-2">
    <SidebarProvider client:load>
        <QuestionSidebar client:load />
        <main class="flex flex-col flex-grow">
            <SidebarTrigger client:load />
            <h1
                class="text-5xl text-center font-semibold font-poppins leading-snug"
            >
                Jet Lag The Game:
                <br />
                <span class="font-rounded font-extrabold">HIDE+SEEK</span> Map Generator
            </h1>
            <div class="flex justify-center items-center flex-col md:flex-row">
                <span class="text-lg font-semibold italic">
                    Choose the hiding zone:
                </span>
                <PlacePicker client:load className="m-4" />
            </div>
            <div class="flex justify-center " id="map-modal-dialog-container-leaflet">
                <Map
                    className="w-full md:w-[90%] lg:w-[80%] rounded-2xl [&.fullscreen]:w-full [&.fullscreen]:h-full"
                    client:only
                />
            </div>
            <Options client:load className="mb-6" />
        </main>
    </SidebarProvider>
</Layout>
