---
import Layout from "../layouts/Layout.astro";
import { Map } from "../components/Map";
import { PlacePicker } from "../components/PlacePicker";
import { SidebarProvider, SidebarTrigger } from "@/components/ui/sidebar";
import { QuestionSidebar } from "@/components/QuestionSidebar";
import { OptionDrawers } from "@/components/OptionDrawers";
---

<Layout className="bg-jetlag">
    <SidebarProvider client:load>
        <QuestionSidebar client:load />
        <main class="flex flex-col flex-grow">
            <div
                class="flex justify-center"
                id="map-modal-dialog-container-leaflet"
            >
                <div class="w-full h-full relative">
                    <div
                        class="absolute top-[72px] md:top-2 left-2 z-[1030]"
                    >
                        <SidebarTrigger client:load />
                    </div>
                    <div
                        class="flex flex-shrink max-w-fit z-[1030] absolute left-4 right-0 m-auto"
                    >
                        <PlacePicker client:load className="m-4" />
                    </div>
                    <div class="bottom-5 right-2 mx-auto mb-2 w-fit absolute z-[1030]">
                        <OptionDrawers client:load />
                    </div>
                    <Map
                        className="w-full [&.fullscreen]:w-full [&.fullscreen]:h-full"
                        client:only
                    />
                </div>
            </div>
        </main>
    </SidebarProvider>
</Layout>
